.container{
    position: flex;
    padding: 1rem;
    font-family: 'Roboto Slab', serif;
    background-color:  rgb(231, 231, 231);
}
#header {
    background-color: #404040;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: white;
    margin-bottom: 25px;
    font-size: x-large;
}
.form{
    padding: 8px;
    border-radius: 0.25rem;
}
.btn {
    padding: 5px;
    min-width: 50px;
    background-color: cornflowerblue;
    border-radius: 0.25rem;
}
.btn:hover{
    opacity: 60%;
}

.cityDiv {
    background-color: grey;
    border-radius: 0.25rem;
}
.searchDisplay {
display: flex;
}

.low {
    background-color: green;
    /*Range 0-2*/
}
.moderate {
    background-color: yellow;
    /*Range 3-5*/
}
.high {
    background-color: orange;
    /*Range 6-7*/
}
.veryHigh {
    background-color: red;
    /*Range 8-10*/
}
.extreme {
    background-color: purple;
    /*Range 11+ */
}

#weatherToday{
    position: relative;
    background-color:  white;
    border-radius: 0.25rem;
}
.listEl{
    background-color: white;
    border-radius: 0.25rem;
    outline: black;
    padding: 5px;
}
.listEl:hover{
    background-color: cornflowerblue;
}

.dailyWeather {
background-color: cornflowerblue;
padding: 5px;
margin: 10px;
border: black, 1px;
border-radius: 0.25rem;
}