.container{
    position: flex;
    padding: 1rem;
    font-family: 'Roboto Slab', serif;
    background-color: snow;
}
#header {
    background-color: #404040;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: white;
}
.form {
    font-size: 20px;
    float: left;
}
.cityInput{
    padding: 5px;
    min-width: 250px;
    border-radius: 0.25rem;
}
.button {
    padding: 5px;
    min-width: 50px;
    background-color: rgb(54, 54, 216);
    border-radius: 0.25rem;
}
.button:hover{
    opacity: 60%;
}
